<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Best Biss | Authentication</title>
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script type="text/javascript" src="js/authentication.js"></script>
</head>
<body>
<div class="authentication-wrapper">
    <section class="container">
        <section class="logo-cont"></section>
        <section class="login-form">
            <section class="title"><p>התחברות</p></section>
            <form>
                <section class="set">
                    <section class="label"><p>שם משתמש:</p></section>
                    <section class="input-cont"><input type="text" maxlength="8" id="username"></section>
                </section>
                <section class="set">
                    <section class="label"><p>סיסמה:</p></section>
                    <section class="input-cont"><input type="password" maxlength="15" id="password"></section>
                </section>
            </form>
        </section>
        <section class="approve-button" id="approve-authentication"><p>אישור</p></section>
        <section class="error"><p></p></section>
    </section>
</div>
</body>
</html>