<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Best Biss | Home</title>
    <!--<meta name="format-detection" content="telephone=no" />-->
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="viewport" width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script type="text/javascript" src="js/authentication.js"></script>
    <script type="text/javascript" src="js/managers.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</head>
<body>
<div class="wrapper">
    <section class="error-cont" id="error-page">
        <section class="container">
            <section class="close" id="close-error-page"><p class="flaticon-close32"></p></section>
            <section class="content"><p id="error-msg"></p></section>
        </section>
    </section>
    <header>
        <section class="top-strip">
            <section class="authentication-cont">
                <section class="user-icon" id="user-icon"><p class="flaticon-user7"></p></section>
                <section class="options-cont" id="options-cont">
                    <section id="log-out"><p class="flaticon-symbol21"></p><p>התנתק</p></section>
                    <hr class="hr">
                    <section id="update-manager-details"><p class="flaticon-profile31"></p><p>עדכן פרטים</p></section>
                    <hr class="hr">
                    <section id="switch-user"><p class="flaticon-users38"></p><p>החלף משתמש</p></section>
                </section>
                <section class="logged-cont"><p><%= username %></p></section>
            </section>
        </section>
        <section class="logo-cont">
            <section class="logo" title="דף הבית"></section>
        </section>
        <section class="nav-strip"></section>
    </header>
    <section class="main">
        <section class="content" id="content">
            <section class="menu-item" id="managers" title="מנהלים"><p>מנהלים</p></section>
            <section class="menu-item" id="application-settings" title="הגדרות אפליקצייה"><p>הגדרות אפליקצייה</p></section>
            <section class="menu-item" id="menu-management" title="ניהול תפריט"><p>ניהול תפריט</p></section>
            <section class="menu-item" id="business-customers" title="לקוחות עסקיים"><p>לקוחות עסקיים</p></section>
            <section class="menu-item" id="coupons" title="קופונים"><p>קופונים</p></section>
            <section class="menu-item" id="control-panel" title="חלון ההזמנות"><p>חלון ההזמנות</p></section>
            <section class="menu-item" id="statistics" title="סטטיסטיקות"><p>פילוחים</p></section>
            <section class="menu-item" id="queries" title="שאילתות"><p>שאילתות</p></section>
            <section class="menu-item" id="system-backup" title="גיבוי מערכת"><p>גיבוי מערכת</p></section>
            <section class="menu-item" id="pending-orders" title="הזמנות ממתינות"><p>הזמנות ממתינות</p></section>
        </section>
    </section>
    <footer></footer>
</div>
</body>
</html>