.addition-types-cont{
  width: 99%;
  margin: 0 auto;
  padding-top: 5px;
  padding-right: 5px;
  .title{
    padding-top: 15px;
    padding-bottom: 15px;
    p{
      font-size: 18px;
      font-weight: bold;
      color: rgba(#333, 0.8);
    }
  }
  form{
    width: 240px;
  }
  label {
    display: block;
    margin-top: 10px;
    color: rgba(#333, 0.8);
    font-size: 15px;
    font-weight: bold;
    &:hover{
      color: rgba(#000, 1);
    }
  }
  label, input{
    cursor: pointer;
  }
  input {
    width: 13px;
    height: 13px;
    padding:0;
    margin-left:5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    /* All browsers except webkit*/
    transform: scale(1.5);
    /* Webkit browsers*/
    -webkit-transform: scale(1.5);
  }
  label:last-child{
    color: brown;
  }
  #approve-delete{
    margin-top: 30px;
    margin-right: 5px;
    background-color: rgba($txt-color, 0.8);
    border: 1px solid grey;
    box-shadow: 0 0 5px 0 #000;
    &:hover{
      background-color: rgba($txt-color, 0.9);
    }
  }
  .error{
    @include size(190px, 40px);
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    color: brown;
    p{
      font-size: 15px;
    }
  }
}