.managers-cont {
  @include size(100%, 95%);
  overflow: hidden;
  .managers-list-wrap{
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 5px;
  }
  .manager-item, .header{
    @include size(100%, 30px);
    padding: 5px;
    margin-top: 5px;
    section{
      float: right;
      line-height: 30px;
      text-align: center;
      p{
        font-size: 15px;
        color: #333;
      }
    }
  }
  .first-name{
    @include size(15%, 100%);
  }
  .last-name{
    @include size(15%, 100%);
  }
  .email{
    @include size(32%, 100%);
  }
  .phone-number{
    @include size(11%, 100%);
  }
  .username{
    @include size(9%, 100%);
  }
  .is-admin {
    @include size(7%, 100%);
  }
  .save{
    @include size(5%, 100%);
    position: relative;
    cursor: pointer;
    p{
      font-size: 20px !important;
      &:hover{
        color: brown;
      }
    }
  }
  .delete{
    @include size(5%, 100%);
    position: relative;
    cursor: pointer;
    p{
      font-size: 21px !important;
      &:hover{
        color: brown;
      }
    }
  }
  .header{
    section p{
      font-size: 15px;
      font-weight: bold;
      text-decoration: underline;
      color: rgba(#333, 0.8);
    }
  }
  .msg{
    display: none;
    position: absolute;
    top: -34px;
    left: 29px;
    @include size(150px, 30px);
    border: 3px solid rgba(#000, 0.6);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 10px 0 #FFF;
    line-height: 30px;
    background-color: #FAFAD2 !important;
    p{
      text-align: center;
      font-size: 12px !important;
      color: #333;
      font-weight: bold;
    }
  }
  .add-manager{
    @include size(50px, 50px);
    padding: 5px;
    margin-top: 5px;
    margin-right: 45px;
    display: table;
    cursor: pointer;
    p{
      @include cell-settings();
      font-size: 40px;
      color: rgba(grey, 0.8);
      &:hover{
        color: grey;
      }
    }
  }
}

@include medium(){
  .managers-cont{
    .manager-item{
      section{
        p{
          font-size: 11px;
        }
      }
    }
  }
}