.managers-cont {
  @include size(100%, 95%);
  overflow: hidden;
  .managers-list-wrap{
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 5px;
  }
  .manager-item{
    @include size(100%, 30px);
    padding: 5px;
    margin-top: 5px;
    background-color: orange;
    section{
      float: right;
      line-height: 30px;
      text-align: center;
      p{
        font-size: 15px;
        color: #333;
      }
    }
  }
  .first-name{
    @include size(15%, 100%);
  }
  .last-name{
    @include size(15%, 100%);
  }
  .email{
    @include size(32%, 100%);
  }
  .phone-number{
    @include size(11%, 100%);
  }
  .username{
    @include size(9%, 100%);
  }
  .is-admin {
    @include size(7%, 100%);
  }
  .save{
    @include size(5%, 100%);
  }
  .delete{
    @include size(5%, 100%);
  }
}