.menu-types-cont {
  width: 99%;
  margin: 0 auto;
  padding-top: 5px;
  //overflow: hidden;
  .item-container{
    @include size(33%, 300px);
    display: inline-block;
    margin: 2px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover{
      box-shadow: 0px 0px 20px 0px grey;
    }
    .add{
      @include size(97%, 290px);
      border: solid 5px rgba(#333, 0.5);
      border-radius: 5px;
      display: table;
      &:hover{
        p{
          color: rgba(#333, 0.7);
        }
      }
      p{
        @include cell-settings();
        font-size: 70px;
        color: rgba(#333, 0.5);
      }
    }
  }
  .sealed-cont{
    display: none;
    @include size(100%, 260px);
    line-height: 260px;
    top: 35px;
    position: absolute;
    left: 0;
    p{
      font-size: 250px;
      color: rgba(#333, 0.4);
    }
  }
  .reveal-button{
    display: none;
    @include size(45px, 20px);
    position: absolute;
    top: 40px;
    left: 5px;
    background-color: green;
    border: solid 1px rgba(#333, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #000;
    line-height: 20px;
    &:hover{
      box-shadow: 0 0 5px 0 #000;
    }
    p{
      color: #fff;
      font-size: 13px;
      font-weight: bold;
    }
  }
  .header{
    display: table;
    width: 100%;
    height: 10%;
    background: rgba(grey, 0.5);
    box-shadow: 0px 3px 10px -4px #000;
    p{
      @include cell-settings();
      font-size: 18px;
      color: rgba($txt-color, 0.8);
      font-weight: bold;
    }
  }
  .footer {
    display: block;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 20%;
    //background: rgba(#7B7C79, 1);
    background: rgba(#7B7C79, 1);
    box-shadow: inset 0px 2px 13px rgba($txt-color,0.35);
    //box-shadow: inset -2px 0 2px rgba($txt-color, .35);
    transition: transform .20s ease-in-out;
    -webkit-transition: -webkit-transform .20s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    section{
      display: inline-block;
      margin-top: 2%;
      @include size(48px, 48px);
      background-color: rgba(#000, 0.3);
      line-height: 50px;
      border-radius: 100px;
      p{
        color: rgba(#000, 0.6);
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
      }
      &:first-child {
        p{
          font-size: 28px;
        }
      }
      &:last-child{
        p{
          color: rgba(#000, 0.8);
          font-size: 27px;
        }
      }
      &:hover{
        background-color: rgba(#000, 0.5);
        p{
          color: rgba(#000, 0.9);
        }
      }
    }
  }
}

.top{
  transform: translate3d(0, -100%, 0); /* X, Y, Z */
  -webkit-transform: translate3d(0, -100%, 0 );
}