@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin cell-settings(){
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@mixin position($type, $top, $right, $bottom, $left){
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin medium_1680(){
  @media only screen and (max-width: 1680px) {
    @content;
  }
}

@mixin medium_1366(){
  @media only screen and (max-width: 1366px) {
    @content;
  }
}

@mixin medium_1024(){
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin small_360(){
  @media only screen and (max-width: 360px) {
    @content;
  }
}