@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin cell-settings(){
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@mixin position($type, $top, $right, $bottom, $left){
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}



@mixin medium(){
  @media only screen and (max-width: 1366px) {
    @content;
  }
}