html{
  height: 100%;
  width: 100%;
}
body{
  width: 100%;
  height: 1px;
  min-height: 100%;
  font-family: Arial;
  direction: rtl;
  background-color: $bg-color;
}

*{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

.wrapper{
  width: 60%;
  //height: 1px;
  min-height: 100%;
  //overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 0px 50px 0px #333;
}

hr {
  border: none;
  @include size(80%, 1px);
  margin: 0 auto;
}

.approve-button{
  float: right;
  @include size(110px, 35px);
  background-color: rgba($txt-color, 0.9);
  border: 1px solid grey;
  box-shadow: 0 0 10px 0 #000;
  border-radius: 5px;
  cursor: pointer;
  display: table;
  margin-right: 20%;
  p{
    @include cell-settings();
    font-size: 18px;
    font-weight: bold;
    color: $bg-color;
  }
  &:hover{
    background-color: $txt-color;
  }
}

.menu-options-box{
  display: none;
  position: absolute;
  @include size(200, 150);
  top: -34px;
  left: 29px;
  border: 3px solid rgba(#000, 0.6);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px 0 #FFF;
  line-height: 30px;
  background-color: #FAFAD2 !important;
  p{
    text-align: center;
    font-size: 12px !important;
    color: #333;
    font-weight: bold;
  }

}

@include medium_1680(){
  .wrapper{
    width: 70%;
  }
}


@include medium_1366(){
  .wrapper{
    width: 83%;
  }
}

@include small_360(){
  .wrapper{
    width: 100%;
  }
}