/* line 1, ../sass/_lightbox.scss */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 10000;
}
/* line 9, ../sass/_lightbox.scss */
.lightbox .container {
  width: 390px;
  height: 250px;
  border: 5px solid rgba(51, 51, 51, 0.8);
  border-radius: 5px;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0px 0px 8px -2px #000;
  margin-top: 20%;
  position: relative;
}
/* line 19, ../sass/_lightbox.scss */
.lightbox .close {
  width: 28px;
  height: 30px;
  display: table;
  float: right;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.8);
}
/* line 25, ../sass/_lightbox.scss */
.lightbox .close:hover {
  color: #333;
}
/* line 28, ../sass/_lightbox.scss */
.lightbox .close p {
  display: table-cell;
  vertical-align: middle;
}
/* line 33, ../sass/_lightbox.scss */
.lightbox .title {
  float: right;
  display: table;
  width: 350px;
  height: 33px;
}
/* line 37, ../sass/_lightbox.scss */
.lightbox .title p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-align: right;
  padding-right: 10px;
  text-shadow: -2px 1px #D8DDCD;
  color: #002E02;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
/* line 48, ../sass/_lightbox.scss */
.lightbox .content {
  width: 90%;
  height: 150px;
  display: table;
}
/* line 51, ../sass/_lightbox.scss */
.lightbox .content p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #333333;
}
/* line 57, ../sass/_lightbox.scss */
.lightbox .approve {
  width: 70px;
  height: 25px;
  background-color: green;
  margin: 10px auto;
  box-shadow: 0px 0px 8px -2px #000;
  display: table;
  cursor: pointer;
}
/* line 64, ../sass/_lightbox.scss */
.lightbox .approve p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
}

/* line 1, ../sass/_authentication.scss */
.authentication-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/* line 5, ../sass/_authentication.scss */
.authentication-wrapper .container {
  width: 500px;
  height: 300px;
  box-shadow: 0 0 20px 0 #000;
  background-color: #D8DDCD;
  margin: 50px auto;
}
/* line 11, ../sass/_authentication.scss */
.authentication-wrapper .logo-cont {
  width: 230px;
  height: 70px;
  background: url("../images/logo.png") no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 17, ../sass/_authentication.scss */
.authentication-wrapper .login-form {
  width: 300px;
  height: 130px;
  margin: 20px auto;
}
/* line 21, ../sass/_authentication.scss */
.authentication-wrapper .title {
  width: 110px;
  height: 30px;
}
/* line 23, ../sass/_authentication.scss */
.authentication-wrapper .title p {
  font-size: 25px;
  color: #333;
  font-weight: bold;
}
/* line 29, ../sass/_authentication.scss */
.authentication-wrapper form {
  width: 300px;
  height: 100px;
}
/* line 32, ../sass/_authentication.scss */
.authentication-wrapper .set {
  width: 100%;
  height: 40%;
  margin-top: 5px;
}
/* line 35, ../sass/_authentication.scss */
.authentication-wrapper .set section {
  float: right;
}
/* line 39, ../sass/_authentication.scss */
.authentication-wrapper .set:nth-of-type(1) {
  margin-top: 10px;
}
/* line 42, ../sass/_authentication.scss */
.authentication-wrapper .label {
  width: 35%;
  height: 100%;
  display: table;
}
/* line 45, ../sass/_authentication.scss */
.authentication-wrapper .label p {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  color: #333;
}
/* line 52, ../sass/_authentication.scss */
.authentication-wrapper .input-cont {
  width: 65%;
  height: 100%;
  display: table;
}
/* line 55, ../sass/_authentication.scss */
.authentication-wrapper .input-cont input {
  width: 97%;
  height: 80%;
  display: table-cell;
  vertical-align: middle;
  margin-top: 4px;
  font-size: 18px;
  color: #333;
}
/* line 62, ../sass/_authentication.scss */
.authentication-wrapper .input-cont input:hover {
  border: 1px solid #002E02;
}
/* line 67, ../sass/_authentication.scss */
.authentication-wrapper .error {
  width: 260px;
  height: 45px;
  float: right;
  margin-right: 10px;
}
/* line 71, ../sass/_authentication.scss */
.authentication-wrapper .error p {
  font-size: 15px;
  color: brown;
}

/* line 1, ../sass/_error-page.scss */
.error-cont {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10000;
}
/* line 9, ../sass/_error-page.scss */
.error-cont .container {
  width: 480px;
  height: 340px;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0px 0px 8px -2px #000;
  border: 1px solid #B6B6B6;
  margin-top: 15%;
  position: relative;
}
/* line 18, ../sass/_error-page.scss */
.error-cont .close {
  width: 28px;
  height: 30px;
  display: table;
  float: right;
}
/* line 22, ../sass/_error-page.scss */
.error-cont .close p {
  display: table-cell;
  vertical-align: middle;
}
/* line 27, ../sass/_error-page.scss */
.error-cont .content {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  display: table;
}
/* line 31, ../sass/_error-page.scss */
.error-cont .content p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #002E02;
  font-size: 20px;
}

/* line 1, ../sass/_structure.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 5, ../sass/_structure.scss */
body {
  width: 100%;
  height: 1px;
  min-height: 100%;
  font-family: Arial;
  direction: rtl;
  background-color: #D8DDCD;
}

/* line 14, ../sass/_structure.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/_structure.scss */
li {
  list-style-type: none;
}

/* line 23, ../sass/_structure.scss */
.wrapper {
  width: 60%;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 50px 0px #333;
}

/* line 32, ../sass/_structure.scss */
hr {
  border: none;
  width: 80%;
  height: 1px;
  margin: 0 auto;
}

/* line 38, ../sass/_structure.scss */
.approve-button {
  float: right;
  width: 110px;
  height: 35px;
  background-color: rgba(0, 46, 2, 0.9);
  border: 1px solid grey;
  box-shadow: 0 0 10px 0 #000;
  border-radius: 5px;
  cursor: pointer;
  display: table;
  margin-right: 20%;
}
/* line 48, ../sass/_structure.scss */
.approve-button p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  color: #D8DDCD;
}
/* line 54, ../sass/_structure.scss */
.approve-button:hover {
  background-color: #002E02;
}

/* line 59, ../sass/_structure.scss */
.menu-options-box {
  display: none;
  position: absolute;
  width: 200;
  height: 150;
  top: -34px;
  left: 29px;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px 0 #FFF;
  line-height: 30px;
  background-color: #FAFAD2 !important;
}
/* line 72, ../sass/_structure.scss */
.menu-options-box p {
  text-align: center;
  font-size: 12px !important;
  color: #333;
  font-weight: bold;
}

@media only screen and (max-width: 1680px) {
  /* line 82, ../sass/_structure.scss */
  .wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 1366px) {
  /* line 89, ../sass/_structure.scss */
  .wrapper {
    width: 83%;
  }
}
@media only screen and (max-width: 360px) {
  /* line 95, ../sass/_structure.scss */
  .wrapper {
    width: 100%;
  }
}
/* line 1, ../sass/_header.scss */
header {
  width: 100%;
  height: 190px;
}
/* line 4, ../sass/_header.scss */
header .top-strip {
  width: 100%;
  height: 25%;
  background-color: #7B7C79;
}
/* line 8, ../sass/_header.scss */
header .authentication-cont {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}
/* line 13, ../sass/_header.scss */
header .user-icon {
  width: 50px;
  height: 100%;
  display: table;
  float: left;
  cursor: pointer;
}
/* line 18, ../sass/_header.scss */
header .user-icon p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  color: rgba(51, 51, 51, 0.8);
  padding-top: 5px;
}
/* line 23, ../sass/_header.scss */
header .user-icon p:hover {
  color: #002E02;
}
/* line 28, ../sass/_header.scss */
header .options-cont {
  display: none;
  width: 200px;
  height: 105px;
  position: absolute;
  top: 48px;
  right: -82px;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 5px 0px #FFF;
  border: 2px solid #333;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding-top: 10px;
  background-color: grey;
}
/* line 38, ../sass/_header.scss */
header .options-cont:hover {
  box-shadow: 0px 0px 50px 0px #FFF;
}
/* line 41, ../sass/_header.scss */
header .options-cont section {
  width: 80%;
  height: 20px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: table;
  color: #333;
  cursor: pointer;
}
/* line 49, ../sass/_header.scss */
header .options-cont section:hover {
  color: #002E02;
}
/* line 51, ../sass/_header.scss */
header .options-cont section:hover p:nth-of-type(2) {
  font-weight: bold;
}
/* line 55, ../sass/_header.scss */
header .options-cont section p {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 15px;
}
/* line 61, ../sass/_header.scss */
header .options-cont section p:nth-of-type(1) {
  width: 30px;
}
/* line 65, ../sass/_header.scss */
header .options-cont .hr {
  /* Set the hr color */
  color: rgba(51, 51, 51, 0.8);
  /* old IE */
  background-color: rgba(51, 51, 51, 0.8);
  /* Modern Browsers */
}
/* line 71, ../sass/_header.scss */
header .logged-cont {
  width: 95px;
  height: 100%;
  display: table;
}
/* line 74, ../sass/_header.scss */
header .logged-cont p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.8);
}
/* line 82, ../sass/_header.scss */
header .logo-cont {
  width: 100%;
  height: 55%;
}
/* line 85, ../sass/_header.scss */
header .nav-strip {
  width: 100%;
  height: 20%;
  background-color: brown;
}
/* line 89, ../sass/_header.scss */
header .logo {
  width: 365px;
  height: 100%;
  background: url("../images/logo.png") no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 1366px) {
  /* line 100, ../sass/_header.scss */
  header .user-icon p {
    font-size: 25px;
    padding-top: 2px;
  }
  /* line 105, ../sass/_header.scss */
  header .logo {
    width: 255px;
  }
}
/* line 1, ../sass/_body.scss */
.main {
  width: 100%;
  overflow: hidden;
}
/* line 4, ../sass/_body.scss */
.main .content {
  width: 80%;
  float: right;
}
/* line 10, ../sass/_body.scss */
.main .breadcrumbs-strip {
  width: 100%;
  height: 5%;
  line-height: 27px;
}
/* line 14, ../sass/_body.scss */
.main .breadcrumb-item {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: rgba(123, 124, 121, 0.8);
}
/* line 24, ../sass/_body.scss */
.main .breadcrumb-item:nth-of-type(1) {
  margin-right: 5px;
}
/* line 27, ../sass/_body.scss */
.main .breadcrumb-item a {
  font-size: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* line 1, ../sass/_side-nav.scss */
.side-nav {
  width: 20%;
  height: 100%;
  float: right;
  background-color: grey;
}
/* line 5, ../sass/_side-nav.scss */
.side-nav nav {
  padding-right: 10px;
  padding-top: 10px;
}
/* line 9, ../sass/_side-nav.scss */
.side-nav li {
  line-height: 35px;
}
/* line 12, ../sass/_side-nav.scss */
.side-nav a {
  text-decoration: none;
  font-size: 18px;
  color: #002E02;
}
/* line 16, ../sass/_side-nav.scss */
.side-nav a:hover {
  color: #333;
  font-weight: bold;
}

@media only screen and (max-width: 1366px) {
  /* line 25, ../sass/_side-nav.scss */
  .side-nav a {
    font-size: 15px;
  }
}
/* line 1, ../sass/_footer.scss */
footer {
  width: 100%;
  height: 90px;
  background-color: #FCBC58;
}

/* line 1, ../sass/_manager-details.scss */
.manager-details-cont {
  width: 100%;
  height: 95%;
  overflow: hidden;
}
/* line 4, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form {
  width: 50%;
  height: 80%;
  margin-right: 5px;
  margin-top: 50px;
}
/* line 8, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .form-item {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
/* line 11, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .form-item section {
  float: right;
  display: table;
}
/* line 16, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .required {
  width: 4%;
  height: 100%;
}
/* line 18, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .required p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
}
/* line 23, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-label {
  width: 30%;
  height: 100%;
}
/* line 25, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-label p {
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
  color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
}
/* line 33, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-input {
  width: 56%;
  height: 100%;
}
/* line 35, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-input input, .manager-details-cont .manager-details-form .detail-input textarea {
  width: 97%;
  height: 90%;
  margin-top: 2px;
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px;
  color: rgba(51, 51, 51, 0.8);
}
/* line 42, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-input input:hover, .manager-details-cont .manager-details-form .detail-input textarea:hover {
  border: 1px solid #002E02;
}
/* line 46, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-input select {
  width: 25%;
  height: 90%;
  margin-top: 2px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(51, 51, 51, 0.8);
}
/* line 52, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .detail-input select:hover {
  border: 1px solid #002E02;
}
/* line 57, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .validation {
  width: 8%;
  height: 100%;
}
/* line 59, ../sass/_manager-details.scss */
.manager-details-cont .manager-details-form .validation p {
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 65, ../sass/_manager-details.scss */
.manager-details-cont #approve-manager-update,
.manager-details-cont #approve-manager-addition {
  margin-top: 20px;
  margin-right: 5px;
  background-color: rgba(0, 46, 2, 0.8);
  border: 1px solid grey;
  box-shadow: 0 0 5px 0 #000;
}
/* line 72, ../sass/_manager-details.scss */
.manager-details-cont #approve-manager-update:hover,
.manager-details-cont #approve-manager-addition:hover {
  background-color: rgba(0, 46, 2, 0.9);
}
/* line 76, ../sass/_manager-details.scss */
.manager-details-cont .error {
  width: 190px;
  height: 40px;
  margin-top: 20px;
  float: right;
  margin-right: 10px;
  color: brown;
}
/* line 82, ../sass/_manager-details.scss */
.manager-details-cont .error p {
  font-size: 15px;
}

/* line 1, ../sass/_managers.scss */
.managers-cont {
  width: 100%;
  height: 95%;
  overflow: hidden;
}
/* line 4, ../sass/_managers.scss */
.managers-cont .managers-list-wrap {
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 5px;
}
/* line 10, ../sass/_managers.scss */
.managers-cont .manager-item, .managers-cont .header {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
}
/* line 14, ../sass/_managers.scss */
.managers-cont .manager-item section, .managers-cont .header section {
  float: right;
  line-height: 30px;
  text-align: center;
}
/* line 18, ../sass/_managers.scss */
.managers-cont .manager-item section p, .managers-cont .header section p {
  font-size: 15px;
  color: #333;
}
/* line 24, ../sass/_managers.scss */
.managers-cont .first-name {
  width: 15%;
  height: 100%;
}
/* line 27, ../sass/_managers.scss */
.managers-cont .last-name {
  width: 15%;
  height: 100%;
}
/* line 30, ../sass/_managers.scss */
.managers-cont .email {
  width: 32%;
  height: 100%;
}
/* line 33, ../sass/_managers.scss */
.managers-cont .phone-number {
  width: 11%;
  height: 100%;
}
/* line 36, ../sass/_managers.scss */
.managers-cont .username {
  width: 9%;
  height: 100%;
}
/* line 39, ../sass/_managers.scss */
.managers-cont .is-admin {
  width: 7%;
  height: 100%;
}
/* line 42, ../sass/_managers.scss */
.managers-cont .save {
  width: 5%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
/* line 46, ../sass/_managers.scss */
.managers-cont .save p {
  font-size: 20px !important;
}
/* line 48, ../sass/_managers.scss */
.managers-cont .save p:hover {
  color: brown;
}
/* line 53, ../sass/_managers.scss */
.managers-cont .delete {
  width: 5%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
/* line 57, ../sass/_managers.scss */
.managers-cont .delete p {
  font-size: 21px !important;
}
/* line 59, ../sass/_managers.scss */
.managers-cont .delete p:hover {
  color: brown;
}
/* line 65, ../sass/_managers.scss */
.managers-cont .header section p {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: rgba(51, 51, 51, 0.8);
}
/* line 72, ../sass/_managers.scss */
.managers-cont .msg {
  display: none;
  position: absolute;
  top: -34px;
  left: 29px;
  width: 150px;
  height: 30px;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px 0 #FFF;
  line-height: 30px;
  background-color: #FAFAD2 !important;
}
/* line 85, ../sass/_managers.scss */
.managers-cont .msg p {
  text-align: center;
  font-size: 12px !important;
  color: #333;
  font-weight: bold;
}
/* line 92, ../sass/_managers.scss */
.managers-cont .add-manager {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 45px;
  display: table;
  cursor: pointer;
}
/* line 99, ../sass/_managers.scss */
.managers-cont .add-manager p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  color: rgba(128, 128, 128, 0.8);
}
/* line 103, ../sass/_managers.scss */
.managers-cont .add-manager p:hover {
  color: grey;
}

@media only screen and (max-width: 1366px) {
  /* line 114, ../sass/_managers.scss */
  .managers-cont .manager-item section p {
    font-size: 11px;
  }
}
/* line 1, ../sass/_menu-types.scss */
.menu-types-cont {
  width: 99%;
  margin: 0 auto;
  padding-top: 5px;
}
/* line 6, ../sass/_menu-types.scss */
.menu-types-cont .item-container {
  width: 33%;
  height: 300px;
  display: inline-block;
  margin: 2px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/* line 14, ../sass/_menu-types.scss */
.menu-types-cont .item-container:hover {
  box-shadow: 0px 0px 20px 0px grey;
}
/* line 17, ../sass/_menu-types.scss */
.menu-types-cont .item-container .add {
  width: 97%;
  height: 290px;
  border: solid 5px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  display: table;
}
/* line 23, ../sass/_menu-types.scss */
.menu-types-cont .item-container .add:hover p {
  color: rgba(51, 51, 51, 0.7);
}
/* line 27, ../sass/_menu-types.scss */
.menu-types-cont .item-container .add p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  color: rgba(51, 51, 51, 0.5);
}
/* line 34, ../sass/_menu-types.scss */
.menu-types-cont .sealed-cont {
  display: none;
  width: 100%;
  height: 260px;
  line-height: 260px;
  top: 35px;
  position: absolute;
  left: 0;
}
/* line 41, ../sass/_menu-types.scss */
.menu-types-cont .sealed-cont p {
  font-size: 250px;
  color: rgba(51, 51, 51, 0.4);
}
/* line 46, ../sass/_menu-types.scss */
.menu-types-cont .reveal-button {
  display: none;
  width: 45px;
  height: 20px;
  position: absolute;
  top: 40px;
  left: 5px;
  background-color: green;
  border: solid 1px rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000;
  line-height: 20px;
}
/* line 57, ../sass/_menu-types.scss */
.menu-types-cont .reveal-button:hover {
  box-shadow: 0 0 5px 0 #000;
}
/* line 60, ../sass/_menu-types.scss */
.menu-types-cont .reveal-button p {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
/* line 66, ../sass/_menu-types.scss */
.menu-types-cont .header {
  display: table;
  width: 100%;
  height: 10%;
  background: rgba(128, 128, 128, 0.5);
  box-shadow: 0px 3px 10px -4px #000;
}
/* line 72, ../sass/_menu-types.scss */
.menu-types-cont .header p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: rgba(0, 46, 2, 0.8);
  font-weight: bold;
}
/* line 79, ../sass/_menu-types.scss */
.menu-types-cont .footer {
  display: block;
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 20%;
  background: #7b7c79;
  box-shadow: inset 0px 2px 13px rgba(0, 46, 2, 0.35);
  transition: transform .20s ease-in-out;
  -webkit-transition: -webkit-transform .20s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 94, ../sass/_menu-types.scss */
.menu-types-cont .footer section {
  display: inline-block;
  margin-top: 2%;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 50px;
  border-radius: 100px;
}
/* line 101, ../sass/_menu-types.scss */
.menu-types-cont .footer section p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}
/* line 108, ../sass/_menu-types.scss */
.menu-types-cont .footer section:first-child p {
  font-size: 28px;
}
/* line 113, ../sass/_menu-types.scss */
.menu-types-cont .footer section:last-child p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 27px;
}
/* line 118, ../sass/_menu-types.scss */
.menu-types-cont .footer section:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 120, ../sass/_menu-types.scss */
.menu-types-cont .footer section:hover p {
  color: rgba(0, 0, 0, 0.9);
}

/* line 128, ../sass/_menu-types.scss */
.top {
  transform: translate3d(0, -100%, 0);
  /* X, Y, Z */
  -webkit-transform: translate3d(0, -100%, 0);
}

/* line 1, ../sass/_menu-items.scss */
.menu-items-cont {
  width: 99%;
  margin: 0 auto;
  padding-top: 5px;
}
/* line 5, ../sass/_menu-items.scss */
.menu-items-cont .item-container {
  width: 24.6%;
  height: 280px;
  display: inline-block;
  margin: 2px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #333;
}
/* line 14, ../sass/_menu-items.scss */
.menu-items-cont .item-container:hover {
  box-shadow: 0px 0px 10px 1px #333;
}
/* line 17, ../sass/_menu-items.scss */
.menu-items-cont .item-container:last-child {
  box-shadow: none;
}
/* line 19, ../sass/_menu-items.scss */
.menu-items-cont .item-container:last-child:hover {
  box-shadow: 0px 0px 20px 0px grey;
}
/* line 23, ../sass/_menu-items.scss */
.menu-items-cont .item-container .add {
  width: 96%;
  height: 270px;
  border: solid 5px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  display: table;
}
/* line 29, ../sass/_menu-items.scss */
.menu-items-cont .item-container .add:hover p {
  color: rgba(51, 51, 51, 0.7);
}
/* line 33, ../sass/_menu-items.scss */
.menu-items-cont .item-container .add p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  color: rgba(51, 51, 51, 0.5);
}
/* line 40, ../sass/_menu-items.scss */
.menu-items-cont .sealed-cont {
  display: none;
  width: 100%;
  height: 180px;
  line-height: 180px;
  top: 85px;
  position: absolute;
  left: 0;
}
/* line 47, ../sass/_menu-items.scss */
.menu-items-cont .sealed-cont p {
  font-size: 175px;
  color: rgba(51, 51, 51, 0.4);
}
/* line 52, ../sass/_menu-items.scss */
.menu-items-cont .reveal-button {
  display: none;
  width: 45px;
  height: 20px;
  position: absolute;
  top: 90px;
  left: 5px;
  background-color: green;
  border: solid 1px rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000;
  line-height: 20px;
}
/* line 63, ../sass/_menu-items.scss */
.menu-items-cont .reveal-button:hover {
  box-shadow: 0 0 5px 0 #000;
}
/* line 66, ../sass/_menu-items.scss */
.menu-items-cont .reveal-button p {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
/* line 72, ../sass/_menu-items.scss */
.menu-items-cont .header {
  width: 100%;
  height: 30%;
  background: rgba(128, 128, 128, 0.5);
}
/* line 76, ../sass/_menu-items.scss */
.menu-items-cont .title {
  width: 100%;
  height: 35%;
  display: table;
  text-align: center;
  box-shadow: 0px 6px 7px -7px #333;
}
/* line 81, ../sass/_menu-items.scss */
.menu-items-cont .title section {
  display: table-cell;
  vertical-align: middle;
}
/* line 86, ../sass/_menu-items.scss */
.menu-items-cont .name {
  width: 80%;
  height: 100%;
}
/* line 88, ../sass/_menu-items.scss */
.menu-items-cont .name p {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 94, ../sass/_menu-items.scss */
.menu-items-cont .price {
  width: 20%;
  height: 100%;
}
/* line 96, ../sass/_menu-items.scss */
.menu-items-cont .price p {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 102, ../sass/_menu-items.scss */
.menu-items-cont .description {
  width: 100%;
  height: 65%;
}
/* line 104, ../sass/_menu-items.scss */
.menu-items-cont .description p {
  display: table-cell;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 7px;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}
/* line 114, ../sass/_menu-items.scss */
.menu-items-cont .image {
  width: 100%;
  height: 70%;
}
/* line 117, ../sass/_menu-items.scss */
.menu-items-cont .footer {
  display: block;
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 20%;
  background: #7b7c79;
  box-shadow: inset 0px 2px 13px rgba(0, 46, 2, 0.35);
  transition: transform .20s ease-in-out;
  -webkit-transition: -webkit-transform .20s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 132, ../sass/_menu-items.scss */
.menu-items-cont .footer section {
  display: inline-block;
  margin-top: 3%;
  width: 43px;
  height: 43px;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 43px;
  border-radius: 100px;
}
/* line 139, ../sass/_menu-items.scss */
.menu-items-cont .footer section p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  vertical-align: middle;
  font-size: 23px;
}
/* line 146, ../sass/_menu-items.scss */
.menu-items-cont .footer section:first-child p {
  font-size: 26px;
}
/* line 151, ../sass/_menu-items.scss */
.menu-items-cont .footer section:last-child p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
}
/* line 156, ../sass/_menu-items.scss */
.menu-items-cont .footer section:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 158, ../sass/_menu-items.scss */
.menu-items-cont .footer section:hover p {
  color: rgba(0, 0, 0, 0.9);
}

/* line 1, ../sass/_menu-additions.scss */
.menu-additions-cont {
  width: 99%;
  margin: 0 auto;
  padding-top: 5px;
}

/* line 6, ../sass/_menu-additions.scss */
.additions-set-cont {
  width: 100%;
}
/* line 8, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title {
  width: 100%;
  height: 45px;
}
/* line 10, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: rgba(51, 51, 51, 0.3);
}
/* line 15, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .hr {
  width: 100%;
  height: 5px;
  background-color: rgba(51, 51, 51, 0.8);
}
/* line 19, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title section {
  height: 100%;
  float: right;
}
/* line 24, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .name p {
  font-weight: bold;
  font-size: 18px;
  padding-right: 5px;
  color: rgba(51, 51, 51, 0.8);
}
/* line 31, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .edit {
  margin-right: 5px;
  width: 30px;
}
/* line 35, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .delete {
  margin-right: 5px;
  width: 30px;
}
/* line 38, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .delete p {
  font-size: 21px !important;
}
/* line 42, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .add {
  margin-right: 5px;
  width: 30px;
}
/* line 45, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .add p {
  font-size: 20px !important;
}
/* line 49, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .edit p, .additions-set-cont .additions-set-title .delete p, .additions-set-cont .additions-set-title .add p {
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
/* line 54, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .edit p:hover, .additions-set-cont .additions-set-title .delete p:hover, .additions-set-cont .additions-set-title .add p:hover {
  color: #333333;
}
/* line 58, ../sass/_menu-additions.scss */
.additions-set-cont .additions-set-title .description {
  margin-right: 5px;
}

/* line 63, ../sass/_menu-additions.scss */
.additions-set-items {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2px;
}
/* line 68, ../sass/_menu-additions.scss */
.additions-set-items .item-container {
  width: 19.5%;
  height: 200px;
  display: inline-block;
  margin: 2px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #333;
}
/* line 77, ../sass/_menu-additions.scss */
.additions-set-items .item-container:hover {
  box-shadow: 0px 0px 10px 1px #333;
}
/* line 80, ../sass/_menu-additions.scss */
.additions-set-items .item-container:last-child {
  box-shadow: none;
}
/* line 82, ../sass/_menu-additions.scss */
.additions-set-items .item-container:last-child:hover {
  box-shadow: 0px 0px 20px 0px grey;
}
/* line 86, ../sass/_menu-additions.scss */
.additions-set-items .item-container .add {
  width: 95%;
  height: 190px;
  border: solid 5px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  display: table;
}
/* line 92, ../sass/_menu-additions.scss */
.additions-set-items .item-container .add:hover p {
  color: rgba(51, 51, 51, 0.7);
}
/* line 96, ../sass/_menu-additions.scss */
.additions-set-items .item-container .add p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  color: rgba(51, 51, 51, 0.5);
}
/* line 103, ../sass/_menu-additions.scss */
.additions-set-items .header {
  width: 100%;
  height: 30%;
  background: rgba(128, 128, 128, 0.5);
}
/* line 107, ../sass/_menu-additions.scss */
.additions-set-items .title {
  width: 100%;
  height: 35%;
  display: table;
  text-align: center;
  box-shadow: 0px 6px 7px -7px #333;
}
/* line 112, ../sass/_menu-additions.scss */
.additions-set-items .title section {
  display: table-cell;
  vertical-align: middle;
}
/* line 117, ../sass/_menu-additions.scss */
.additions-set-items .sealed-cont {
  display: none;
  width: 100%;
  height: 130px;
  line-height: 130px;
  top: 65px;
  position: absolute;
  left: 0;
}
/* line 125, ../sass/_menu-additions.scss */
.additions-set-items .sealed-cont p {
  font-size: 125px;
  color: rgba(51, 51, 51, 0.4);
}
/* line 130, ../sass/_menu-additions.scss */
.additions-set-items .reveal-button {
  display: none;
  width: 45px;
  height: 20px;
  position: absolute;
  top: 65px;
  left: 5px;
  background-color: green;
  border: solid 1px rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000;
  line-height: 20px;
}
/* line 141, ../sass/_menu-additions.scss */
.additions-set-items .reveal-button:hover {
  box-shadow: 0 0 5px 0 #000;
}
/* line 144, ../sass/_menu-additions.scss */
.additions-set-items .reveal-button p {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
/* line 150, ../sass/_menu-additions.scss */
.additions-set-items .name {
  width: 80%;
  height: 100%;
}
/* line 152, ../sass/_menu-additions.scss */
.additions-set-items .name p {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 158, ../sass/_menu-additions.scss */
.additions-set-items .price {
  width: 20%;
  height: 100%;
}
/* line 160, ../sass/_menu-additions.scss */
.additions-set-items .price p {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 166, ../sass/_menu-additions.scss */
.additions-set-items .description {
  width: 100%;
  height: 65%;
}
/* line 168, ../sass/_menu-additions.scss */
.additions-set-items .description p {
  display: table-cell;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 7px;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}
/* line 178, ../sass/_menu-additions.scss */
.additions-set-items .image {
  width: 100%;
  height: 70%;
}
/* line 181, ../sass/_menu-additions.scss */
.additions-set-items .footer {
  display: block;
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 20%;
  background: #7b7c79;
  box-shadow: inset 0px 2px 13px rgba(0, 46, 2, 0.35);
  transition: transform .20s ease-in-out;
  -webkit-transition: -webkit-transform .20s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 196, ../sass/_menu-additions.scss */
.additions-set-items .footer section {
  display: inline-block;
  margin-top: 3%;
  width: 31px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 31px;
  border-radius: 100px;
}
/* line 203, ../sass/_menu-additions.scss */
.additions-set-items .footer section p {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
/* line 210, ../sass/_menu-additions.scss */
.additions-set-items .footer section:first-child p {
  font-size: 21px;
}
/* line 215, ../sass/_menu-additions.scss */
.additions-set-items .footer section:last-child p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}
/* line 220, ../sass/_menu-additions.scss */
.additions-set-items .footer section:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 222, ../sass/_menu-additions.scss */
.additions-set-items .footer section:hover p {
  color: rgba(0, 0, 0, 0.9);
}
